@model oidc_aspcore.Models.LoginViewModel
@{
    ViewData["Title"] = "Secret Page";
}

<div class="container py-5">
  <h1 class="display-4">Secret</h1>
  <div class="card">

    <div class="card-body">
      @using (Html.BeginForm(null,null,FormMethod.Post, new {enctype="multipart/form-data"}))
      {
        @Html.ValidationSummary(true)

        <div class="form-group">
          @Html.LabelFor(model => model.loginId)
          @Html.ValidationMessageFor(model => model.loginId, "", new {@class= "text-danger"})
          @Html.TextBoxFor(model => model.loginId, (new { @class = "form-control"}))
        </div>

        <button type="submit" class="btn btn-primary">投稿</button>
      }
    </div>
  </div>
</div>
